html,body{
  font-size: 15px;
  color:#222
  -webkit-text-size-adjust:none;  min-width: 200px;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}

table{border-collapse:collapse;border-spacing:0;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
tr{  background-color: #fff;
  border-top: 1px solid #ccc;}
th,td{padding: 5px 14px;
  border: 1px solid #ddd;}

blockquote{font-size:1.1em;line-height:1.5em;padding-left:1em; border-left:4px solid #42b983;    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem; }

a{color:#42b983;text-decoration: none}
mark{
  color: #42b983;
  background-color: transparent;
}
li{
  list-style: none;
}
img{max-width:100%;-webkit-border-radius:0.3em;-moz-border-radius:0.3em;-ms-border-radius:0.3em;-o-border-radius:0.3em;border-radius:0.3em;-webkit-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-moz-box-shadow:rgba(0,0,0,0.15) 0 1px 4px;box-shadow:rgba(0,0,0,0.15) 0 1px 4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#fff 0.5em solid}


hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

/*
 leaf
 */
body{
  color: #34495e;
  line-height: 1.6;
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  position: relative;
  margin: 1em 0;
}
h2:before{
  content: "#";
  color: #42b983;
  position: absolute;
  left: -0.7em;
  top: -4px;
  font-size: 1.2em;
  font-weight: bold;
}
p code {
  color: #e96900;
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 2px;
  white-space: inherit;
}
code,
pre {
  font-size: 0.8rem;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
 }
pre{
  padding: .96rem 1.12rem;
  line-height: 1.2rem;
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  color:#525252
}

 .hljs {
   display: block;
   overflow-x: auto;
   background-color: #f8f8f8;
   -webkit-text-size-adjust: none;
 }

 .hljs-comment,
 .diff .hljs-header,
 .hljs-doctype,
 .hljs-pi,
 .lisp .hljs-string {
   color: #b3b3b3;
 }

 /* Solarized #e96900 */
 .hljs-keyword,
 .hljs-winutils,
 .method,
 .hljs-addition,
 .css .hljs-tag,
 .hljs-request,
 .hljs-status,
 .nginx .hljs-title {
   color: #e96900;
 }

 /* Solarized #42b983 */
 .hljs-command,
 .hljs-string,
 .hljs-tag .hljs-value,
 .hljs-rule .hljs-value,
 .hljs-doctag,
 .tex .hljs-formula,
 .hljs-regexp,
 .hljs-hexcolor,
 .hljs-link_url {
   color: #42b983;
 }

 /* Solarized #2973b7 */
 .hljs-title,
 .hljs-localvars,
 .hljs-chunk,
 .hljs-decorator,
 .hljs-built_in,
 .hljs-identifier,
 .hljs-id,
 .css .hljs-function,
 .hljs-name {
   color: #2973b7;
 }

/* Solarized #ae81ff */
 .hljs-number,
 .smalltalk .hljs-number,
 .vhdl .hljs-literal{
   color: #ae81ff;
 }


 /* Solarized #cb4b16 */
 .hljs-preprocessor,
 .hljs-preprocessor .hljs-keyword,
 .hljs-pragma,
 .hljs-shebang,
 .hljs-symbol,
 .hljs-symbol .hljs-string,
 .diff .hljs-change,
 .hljs-special,
 .hljs-attr_selector,
 .hljs-subst,
 .hljs-cdata,
 .css .hljs-pseudo,
 .hljs-header {
   color: #cb4b16;
 }

 /* Solarized Red */
 .hljs-deletion,
 .hljs-important {
   color: #dc322f;
 }

 /* Solarized Violet */
 .hljs-link_label {
   color: #6c71c4;
 }

 .tex .hljs-formula {
   background: #b3b3b3;
 }
